.bg-light.dark.p30.br-b.br-grey
  .row
    .col-md-3
      .input-group.input-group-merge.input-hero.mb10
        %a.btn.btn-primary.btn-block{:href => "#{new_type_of_car_path}"}
          Registrar Tipo de Carro
.tab-block.p20.mt10
  %section
    = render :partial => 'table'